.button1 { 
    background-color: aliceblue;
border-radius: 6px  ;
color: rgb(76, 216, 144);
margin: 10px;
border-color: rgb(72, 238, 100);
width: 100px;
}
.button2{
    color: aliceblue;
    background-color: rgb(119, 254, 200);
    border-radius: 20px;*
    margin: 10px;
   border-color: azure;
}
.button3{
    margin: 10px;
    color: aliceblue;
    border-color: black;
    background-color: blue;
    width: 120px;
    height: 30px;
}