<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .dod{
            padding: auto;
            margin: auto;
            align-items: center;
            justify-content: space-evenly;
            display: flex;
            
        }
        .did{
            width: 100px;
            height: 100px;
            border: 2px solid black
             
        }
    </style>
</head>
<body>
    <div class="dod">
        {% for i in range (0,num) %}
            <div class="did"style= "background-color:{{color}};"></div>
        {% endfor %}
    </div>
    
</body>
</html>