<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
                h1{
            padding: 10px;
            height: 100px;
            width: 250px; ;
        }
        div{
            padding: auto;
            margin: auto;
            width: 80%;
            height:auto ;
        }
    </style>
</head>
<body>
    <div>
        <h1></h1>
        <form action="/create/new" method="post">
            <label for="first_name" name="first_name">first name</label>
            <input type="text" name="first_name">
            <label for="last_name" name="last_name">last name</label>
            <input type="text" name="last_name">
            <label for="email" name="email">Email</label>
            <input type="text" name="email">
            <input type="submit" value="Add user">
        </form>

    </div>
</body>
</html>